<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Định nghĩa appender cho console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Định dạng log -->
            <pattern>%date{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Cấu hình mức độ log và appender cho package cụ thể -->
    <logger name="com.example.datn.Library.service.impl" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Cấu hình root logger (cho các package không được chỉ định cụ thể) -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>